@import "base_web";
// html reset process
// commons enme css libs
@import "common";
@import "bootstrap/bootstrap_fixed";

@import "mobile/layout";
@import "mobile/default";
@import "mobile/component/poll_tp_htg_detail";

@import "mobile/hacks/ff";
@import "mobile/hacks/opera";
@import "mobile/hacks/webkit";
@import "mobile/hacks/ie";


.category_color{
	@include ctb-gradient-vertical($navbarInverseBackgroundHighlight, $navbarInverseBackground);
}

.cell {
	display: table-cell;
	vertical-align: middle;
}


.no-results {
	font-weight: 100;
	font-size: 18px;
	text-align: center;
}
