.mobil {

    a {
        color: $gray_normal;
        text-decoration: none;
    }

    &:hover, &:focus {
        color: lighten($gray_normal,10%);
    }

    &:active {
        color: darken($gray_normal,10%);
    }

    h4.enme {
      color: $black_hight;
      text-transform: capitalize;
      margin: 0;    
      font-weight: 100;
      @include tablet-only {
            font-weight: 500;
      }
    }       

     > footer  .mobile-footer {
        text-align: left;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #585958;
        color : white;
        padding: 6px;
        min-height: 30px;
        box-shadow: 5px 6px 5px 8px black;
        @extend .text-back-image;
     }

     .mobile-footer .footer-menu {
        padding: 10px;
     }

     .mobile-footer .footer-menu > span {
        padding: 10px;
     }

    .mobile-footer .footer-menu span a{
        font-size: 12px;
        text-align: center;
        margin-top: 3px;
        color: white;
    }

    .mobile-footer .mobile-footer-version {
        font-size: 11px;
        text-align: right;
        margin-top: 3px;
        padding: 10px;
    }

    .mobile-footer .mobile-footer-version  a {
        color : white !important;
    }

    .mobile-footer .mobile-footer-version  a > span {
        color : white;
    }

   // .mobile #mobile-header-wrapper{
   //      min-height: 27px;
   //      padding: 5px;
   //      box-shadow: 1px 2px 6px 0px #9c9393;
   //      text-align: center;
   //  } 

   // .mobile #mobile-header-wrapper div.logo {
   //      margin: 0 auto;
   //  }

    // .mobile div.mobile-header-options{
    //     width: auto;
    //     text-align: right;
    //     padding: 0 5px;
    //     height: 30px;
    // }

    // .mobile .mobile-header-options span{
    //     display: inline-block;
    // }

    // .mobile .mobile-header-options span.link{
    //     padding-left: 5px;
    //     padding-right: 5px;
    //     margin: 4px 4px 3px 0;
    // }

    // .mobile .mobile-header-options span.link a{
    //     color: #275296;
    //     text-decoration: none;
    //     font-size: 110%;
    //     font-style: italic;
    //     font-weight: bold;
    // }

    // .mobile .mobile-header-options span.link a:hover{
    //     text-decoration: none;
    // }

    // .mobile .mobile-header-options span.search{
    // }

    .mobile .mobile-main {
        min-height: 300px;
        background-color: white;
    }

    .mobile-main-vote {
        min-height: 350px;
    }   

    .mobil .mobile-detail h4.enme {
        color: $white !important;
    }


    .label {
        // background-color : $white;
        // color : $black;
        // text-shadow : none;
    }

    .mobile-header {
        height: 65px !important;
        background-repeat: no-repeat !important;
        padding: 0px !important;
        background-position-x: 75px !important;
        background-position-y: 10px !important;
        background-size: 55% !important;
        @include mobile-portrait-and-below {
            background-size: 55% !important;
        }        
        @include tablet-only {
            height: 80px !important;
            background-size: 30% !important;
            background-position-x: 50% !important;
            background-position-y: 10px !important;
        }
    }

    .enme-mob-section {
        @extend .text-back-image;
    }


    .mobile-home-subtitle {
        padding: 10px;
        color: $white;
    }


    .titleNext {
        color: $gray_lite;
        background-color: $gray_ultra_light;
        padding: 10px;
        text-align: center;     
    }

 
}

/* Smartphones (landscape)  */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait)  */
@media only screen and (max-width : 320px) {

}

/** tablet's resolution **/
/* @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; } your css rules for ipad portrait
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; }
} */

/* iPads (portrait and landscape)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}


/* iPhone 4  */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  /* Retina-specific stuff here */
}