@import "compass/reset";
@import "../bootstrap/bootstrap_fixed";

html, body{
  padding: 0;
  margin: 0;
}

.widget {
  padding: 5px;
  font-size: 12px;
  @include border-radius(2px);
  border: 1px solid $gray_lite;
  background-color: $gray_ultra_light;

  button {
    @extend .btn;
  }
}